# Управляется Ansible (roles/rabbitmq). Пользователь и vhost создаются только при первой инициализации volume.
RABBITMQ_DEFAULT_USER='{{ rabbitmq_user }}'
RABBITMQ_DEFAULT_PASS='{{ rabbitmq_password }}'
RABBITMQ_DEFAULT_VHOST='{{ rabbitmq_vhost }}'
