# Управляется Ansible (roles/postgres). Применяется только при первой инициализации volume.
POSTGRES_USER='{{ postgres_user }}'
POSTGRES_PASSWORD='{{ postgres_password }}'
POSTGRES_DB='{{ postgres_db }}'
