# Управляется Ansible (roles/common)
[DEFAULT]
backend = systemd
bantime = {{ common_fail2ban_bantime }}
findtime = {{ common_fail2ban_findtime }}
maxretry = {{ common_fail2ban_maxretry }}
ignoreip = 127.0.0.1/8 ::1

[sshd]
enabled = true
port = {{ common_ssh_port }}
